.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: #f2cda3;
  color: #283748;
  padding: 0 1rem;
  font-family: system-ui, sans-serif;
}

.logo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  color: #283748;
}

.search-container {
  flex: 1;
  display: flex;
  background: #f2cda3;
  color: #283748;
  justify-content: center;
}

.search-input {
  padding: 0.4rem 0.75rem;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  background: #f2cda3;
  color: #283748;
  border-radius: 6px;
  border: 1px solid #283748;
}

.search-input::placeholder {
  color: #283748; /* Change this to the color you want for placeholder text */
  opacity: 1; /* Ensures full color visibility */
}

.hamburger-menu {
  position: relative;
}

.hamburger-icon {
  font-size: 1.5rem;
  background: none;
  color: #283748;
  border: none;
  cursor: pointer;
}

.hamburger-dropdown {
  position: absolute;
  top: 2.5rem;
  right: 0;
  font-family: system-ui, sans-serif;
  background: #f2cda3;
  color: #283748;
  border: 2px solid #283748;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 140px;
  padding: 0;
}

.hamburger-dropdown a {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #283748;
  font-weight: 500;
}

.hamburger-dropdown a:hover {
  background-color: #e2bd93;
}

.currency-toggle {
  display: inline-flex;
  border-radius: 12px;
  overflow: hidden;
  background: #f2cda3;
  border: #283748 2px solid;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.currency-toggle button {
  padding: 0.4rem 1.2rem;
  border: none;
  font-weight: bold;
  font-size: 0.85rem;
  cursor: pointer;
  color: #283748;
  background: none;
}

.currency-toggle button.active {
  background: #283748;
  color: #f2cda3;
}
