.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal {
  display: block;
  position: fixed;
  font-family: system-ui, sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  background: #f2cda3;
  color: #283748;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1000;
  max-width: 90%;
  text-align: center;
}

.modal-content-box {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: #f2cda3;
  color: #283748;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  font-family: system-ui, sans-serif;
  max-width: 500px;
  z-index: 1000;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}
