.stats-box {
  border: 2px solid #283748;
  border-radius: 12px;
  padding: 1rem;
  margin: 2rem 0;
  background: #f2cda3;
  color: #283748;
  font-family: system-ui, sans-serif;
}

.stats-inner {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.stats-inner > div {
  flex: 1;
  border-right: 1px solid #f2cda3;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.stats-inner > div:last-child {
  border-right: none;
}

.stats-inner > div:hover {
  background-color: #e2bd93;
}

.stats-label {
  font-size: 0.9rem;
  color: #283748;
}

.stats-value {
  font-size: 1.2rem;
  font-weight: bold;
}
